<nav class="bg-gray-800 p-4 shadow-lg">
  <div class="mx-auto flex justify-center items-center space-x-20">

      <a routerLink="/"
         routerLinkActive="border-b-2 border-blue-400 text-blue-300"
         [routerLinkActiveOptions]="{exact: true}"
         class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-150">
        Formulario
      </a>

      <a routerLink="/clientes"
         routerLinkActive="border-b-2 border-blue-400 text-blue-300"
         class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-150">
        Ver Clientes
      </a>
    </div>
  </nav>

<main class="container mx-auto">
</main>
